html {
    margin-bottom: 20px;
}

body {
    background-color: beige;
}

h1 {
    text-align: center;
    color: beige;
    background-color: darkgreen;
    float: left;
    margin-top: 5px;
}

#userID {
    display: none;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;

    background-color: darkgreen;
    border: 4px solid green;
    padding: 8px;
    margin-bottom: 5px;
}

form > *, form > fieldset > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

input[type="number"] {
    text-align: right;
}

fieldset > input, fieldset > select {
    margin-top: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

fieldset > label {
    box-sizing: border-box;    
}

label, p {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    float: left;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

label > * {
    box-sizing: border-box;
    width: 100%;
}

.r {
    float: right;
}

.l {
    float: left;
}

.c {
    float: none;
    clear: both;
}

.d {
    margin-bottom: 4px;
}

.tr {
    text-align: right;
}
